.DS_Store
semantickernelsample/bin/Debug/net8.0/Azure.AI.OpenAI.dll
semantickernelsample/bin/Debug/net8.0/Azure.Core.dll
semantickernelsample/bin/Debug/net8.0/Handlebars.dll
semantickernelsample/bin/Debug/net8.0/Handlebars.Net.Helpers.dll
semantickernelsample/bin/Debug/net8.0/HandlebarsDotNet.Helpers.Core.dll
semantickernelsample/bin/Debug/net8.0/Humanizer.dll
semantickernelsample/bin/Debug/net8.0/JetBrains.Annotations.dll
semantickernelsample/bin/Debug/net8.0/Json.More.dll
semantickernelsample/bin/Debug/net8.0/JsonPointer.Net.dll
semantickernelsample/bin/Debug/net8.0/JsonSchema.Net.dll
semantickernelsample/bin/Debug/net8.0/JsonSchema.Net.Generation.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.Bcl.HashCode.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.Extensions.AI.Abstractions.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.Extensions.VectorData.Abstractions.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.SemanticKernel.Abstractions.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.SemanticKernel.Connectors.AI.OpenAI.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.SemanticKernel.Connectors.AzureOpenAI.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.SemanticKernel.Connectors.OpenAI.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.SemanticKernel.Core.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.SemanticKernel.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.SemanticKernel.Planners.Handlebars.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.SemanticKernel.Planners.OpenAI.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.SemanticKernel.Plugins.Memory.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.SemanticKernel.PromptTemplates.Handlebars.dll
semantickernelsample/bin/Debug/net8.0/Microsoft.SemanticKernel.Yaml.dll
semantickernelsample/bin/Debug/net8.0/OpenAI.dll
semantickernelsample/bin/Debug/net8.0/semantickernelsample
semantickernelsample/bin/Debug/net8.0/semantickernelsample.deps.json
semantickernelsample/bin/Debug/net8.0/semantickernelsample.dll
semantickernelsample/bin/Debug/net8.0/semantickernelsample.pdb
semantickernelsample/bin/Debug/net8.0/semantickernelsample.runtimeconfig.json
semantickernelsample/bin/Debug/net8.0/Stef.Validation.dll
semantickernelsample/bin/Debug/net8.0/System.ClientModel.dll
semantickernelsample/bin/Debug/net8.0/System.Memory.Data.dll
semantickernelsample/bin/Debug/net8.0/System.Numerics.Tensors.dll
semantickernelsample/bin/Debug/net8.0/Tiktoken.Core.dll
semantickernelsample/bin/Debug/net8.0/Tiktoken.dll
semantickernelsample/bin/Debug/net8.0/Tiktoken.Encodings.Abstractions.dll
semantickernelsample/bin/Debug/net8.0/Tiktoken.Encodings.cl100k.dll
semantickernelsample/bin/Debug/net8.0/Tiktoken.Encodings.o200k.dll
semantickernelsample/bin/Debug/net8.0/YamlDotNet.dll
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/AbstractWordCounter/config.json
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/AbstractWordCounter/skprompt.txt
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/AnomalyDetector/config.json
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/AnomalyDetector/skprompt.txt
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/MathOperationExtractor/config.json
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/MathOperationExtractor/skprompt.txt
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/Notegen/config.json
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/Notegen/skprompt.txt
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/SimplifyAbstract/config.json
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/SimplifyAbstract/skprompt.txt
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/SimplifyAbstractWithParams/config.json
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/SimplifyAbstractWithParams/skprompt.txt
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/SimplifyAbstractWithParamsAndTranslate/config.json
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/SimplifyAbstractWithParamsAndTranslate/skprompt.txt
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/Summarize/config.json
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/Summarize/skprompt.txt
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/Translator/config.json
semantickernelsample/bin/Debug/net8.0/SemanticPlugIns/SamplePlugin/Translator/skprompt.txt
semantickernelsample/obj/project.assets.json
semantickernelsample/obj/project.nuget.cache
semantickernelsample/obj/semantickernelsample.csproj.nuget.dgspec.json
semantickernelsample/obj/semantickernelsample.csproj.nuget.g.props
semantickernelsample/obj/semantickernelsample.csproj.nuget.g.targets
semantickernelsample/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
semantickernelsample/obj/Debug/net8.0/apphost
semantickernelsample/obj/Debug/net8.0/semantickernelsample.AssemblyInfo.cs
semantickernelsample/obj/Debug/net8.0/semantickernelsample.AssemblyInfoInputs.cache
semantickernelsample/obj/Debug/net8.0/semantickernelsample.assets.cache
semantickernelsample/obj/Debug/net8.0/semantickernelsample.csproj.AssemblyReference.cache
semantickernelsample/obj/Debug/net8.0/semantickernelsample.csproj.CopyComplete
semantickernelsample/obj/Debug/net8.0/semantickernelsample.csproj.CoreCompileInputs.cache
semantickernelsample/obj/Debug/net8.0/semantickernelsample.csproj.FileListAbsolute.txt
semantickernelsample/obj/Debug/net8.0/semantickernelsample.dll
semantickernelsample/obj/Debug/net8.0/semantickernelsample.GeneratedMSBuildEditorConfig.editorconfig
semantickernelsample/obj/Debug/net8.0/semantickernelsample.genruntimeconfig.cache
semantickernelsample/obj/Debug/net8.0/semantickernelsample.GlobalUsings.g.cs
semantickernelsample/obj/Debug/net8.0/semantickernelsample.pdb
semantickernelsample/obj/Debug/net8.0/ref/semantickernelsample.dll
semantickernelsample/obj/Debug/net8.0/refint/semantickernelsample.dll
